@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.BoxContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 12vw;
}

.BoxContainer span {
    color: white;
    font-size: 1.8vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.Player {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 25%;
}

.RoleImage {
    bottom: 1rem;
    filter: invert(100%) sepia(13%) saturate(7439%) hue-rotate(216deg) brightness(112%) contrast(116%);
    height: 2vw;
    position: absolute;
    right: 1rem;
}